*{
    margin: 0;
}
body{
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
    margin-top:40px;
    margin-bottom: 40px;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 45px #0009;
}

.photo-me{
    margin: auto;
    width: 200px;
    align-items: center;
}

img{
    margin-top: 30px;
    max-width: 200px;
    border-radius: 10px;
}

.proyectos p{
    margin-left: 5%;
}

.contacto h4{
    margin-left: 15px;
}
.contacto ul{
    margin-left: 15px;
}